FlowConfigBeans/resources/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://webapp.test.schibsted.com/controller/flowconfig/beans"
	xmlns:tns="http://webapp.test.schibsted.com/controller/flowconfig/beans"
	elementFormDefault="qualified">

	<annotation>
		<appinfo>Schibsted Webapp MVC Flow Configuration</appinfo>
		<documentation xml:lang="en">
			Define flow, authentication and authorization for each user action:
				- Input path
				- Needs authorization or not
				- List of rols allowed (if needs authentication). Only processed if the action is under authorization requirement. 
				- Business Action is going to be executed
			[	- View Object is going to be generated by Business Action (if it's needed)  ]
				- Static or dynamic view is going to be showed to user as a result of his/her action   
		</documentation>
	</annotation>

	<complexType name="Forward">
		<attribute type="string" name="name" use="required" />
		<attribute type="string" name="path" use="required" />
		<attribute type="tns:ForwardType" name="type" use="required" />
	</complexType>

	<simpleType name="ForwardType" final="restriction">
		<restriction base="string">
			<enumeration value="static" />
			<enumeration value="dynamic" />
			<enumeration value="redirect" />
		</restriction>
	</simpleType>

	<complexType name="Role">
		<attribute type="string" name="name" use="required" />
	</complexType>

	<complexType name="AccesRoles">
		<sequence>
			<element name="role" type="tns:Role" maxOccurs="unbounded"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="BusinessAction">
		<sequence>
			<element name="accesRoles" type="tns:AccesRoles" maxOccurs="1"
				minOccurs="0" />
			<element name="forward" type="tns:Forward" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
		<attribute type="string" name="path" use="required" />
		<attribute type="string" name="businessActionClass" use="required" />
		<attribute type="boolean" name="authenticated" use="required" />
	</complexType>

	<element name="flowConfig">
		<complexType>
			<sequence>
				<element type="tns:BusinessAction" name="businessAction"
					maxOccurs="unbounded" minOccurs="1" />
			</sequence>
		</complexType>
	</element>

</schema>

